<div class="container-fluid" style="background-image:url(/Content/final_right_f.png);height:400px;">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-11">
            <h2 style="color:floralwhite">RESOURCES FOR PARENTS</h2>
            <h4 style="color:whitesmoke;font-weight:bolder">Dear Parents, follow the content in the following <br /> links to learn about helping your kids save</h4>
            <br />
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home" style="font-weight:bold;color:#008ae6">TEACHING KIDS</a></li>
                <li><a data-toggle="tab" href="#menu1" style="font-weight:bold;color:#008ae6">POCKET MONEY TIPS</a></li>
                <li><a data-toggle="tab" href="#menu2" style="font-weight:bold;color:#008ae6">SAVING TIPS</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3 style="color:whitesmoke">Teach kids about money.</h3>
                    <button type="button" style="font-size:35px" class="btn btn-link" onclick="window.open('https://www.moneysmart.gov.au/life-events-and-you/families/teaching-kids-about-money');">Click to Learn More</button>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3 style="color:whitesmoke">Help children save through pocket money</h3>
                    <button type="button" style="font-size:35px" class="btn btn-link" onclick="window.open('https://www.moneysmart.gov.au/life-events-and-you/families/teaching-kids-about-money/giving-kids-pocket-money');">Click to Learn More</button>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3 style="color:whitesmoke">Learn 54 different Money Saving Tips</h3>
                    <button type="button" style="font-size:35px" class="btn btn-link" onclick="window.open('https://americasaves.org/for-savers/make-a-plan-how-to-save-money/54-ways-to-save-money');">Click to Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid bg-grey" style="background-image:url(/Content/maybe2.png);height:400px">
    @*<img src="~/Content/maybe2.png" style="max-height:100%;max-width:100%;" />*@
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-5">
            <h2 style="color:white">RESOURCES FOR CHILDREN</h2>
            <h3 style="color:white">Dear Kids, Shoot for the stars with us !</h3>
            @*<p style="color:white">Learn about saving by playing games: </p><button class="btn btn-default btn-sm" onclick="window.open('http://www.facebook.com');">Learn More</button>
                <p style="color:white">Learn how money is made and associated values:</p>
                <p style="color:white">Think you know about money? Let's find out:</p>*@
            @*<button class="btn btn-default btn-sm" onclick="window.open('http://www.facebook.com');">Learn More</button>*@
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home2" style="font-weight:bold;color:#73C6B6">PLAY AND LEARN</a></li>
                <li><a data-toggle="tab" href="#menu11" style="font-weight:bold;color:#73C6B6">KNOWLEDGE HUB</a></li>
                <li><a data-toggle="tab" href="#menu12" style="font-weight:bold;color:#73C6B6">TAKE A QUIZ</a></li>
            </ul>

            <div class="tab-content">
                <div id="home2" class="tab-pane fade in active">
                    <h3 style="color:white">Learn about savings through interactive games</h3>
                    <button type="button" style="font-size:35px;color:#73C6B6" class="btn btn-link" onclick="window.open('http://www.richkidsmartkid.com/');">GO !</button>
                </div>
                <div id="menu11" class="tab-pane fade">
                    <h3 style="color:white">Gain Knowledge on Pocket Money, Savings and much more</h3>
                    <button type="button" style="font-size:35px;color:#73C6B6" class="btn btn-link" onclick="window.open('https://www.usmint.gov/kids/');">GO !</button>
                </div>
                <div id="menu12" class="tab-pane fade">
                    <h3 style="color:white">Think you know about money? Let's find out:</h3>
                    <button type="button" style="font-size:35px;color:#73C6B6" class="btn btn-link" onclick="window.open('http://senseanddollars.thinkport.org/');">GO !</button>
                </div>
            </div>

        </div>
    </div>
</div>s